
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #666666 !important;
	margin: 0.5em 0;
	padding: 0;
}

.Contacts__add-contact-form {
	margin: 20px auto;
	padding-left: 2em;
	width: 20em;
	height: 20em;
}

.card-body.Contacts__card-body {
	padding: 1em;
}

.col-sm-4.ContactList__item-col {
	padding: 0 8px 20px 8px;
	overflow-x: hidden;
	height: fit-content;
}