.nav-item {
	margin: 50px;
}

a {
	font-weight: 700;
	text-decoration: none !important;

	&.selected, &.selected:hover {
		color: #007bff;
		cursor: default;
	}

	&:not(.selected) {
		color: #424242;

		&:hover {
			color: #3a659e;
		}
	}
}
