$border-radius: 5px;
$border-width: 2px;

body {
	font-size: 10px !important;
	line-height: 1;
}

.card.Main__panel {
	border: $border-width solid #666666;
	border-radius: $border-radius;
	margin: 25px;
	opacity: 50%;
}

.card-header.Main__panel-header {
	padding: 0.3rem 0.5rem; 
	background-color:  #666666;

	&:first-child {
		border-radius: $border-radius - $border-width - 1 $border-radius - $border-width - 1 0 0;
	}
}

.nav {
	align-items: center;
}

.nav-item {
	margin-left: auto;
	margin-right: auto;
}

a {
	font-weight: 700;
	text-decoration: none !important;

	&.selected, &.selected:hover {
		color: #007bff;
		cursor: default;
	}

	&:not(.selected) {
		color: #424242;

		&:hover {
			color: #3a659e;
		}
	}
}
