
.card.ContactCard__card {
	height: fit-content;
	width: 100%;

	&:hover .card-title.ContactCard__text {
		width: 50%;
	}
}

.card-body.ContactCard__card-body {
	font-size: 1em;
	font-weight: 600;
	height: fit-content;
	padding: 0.5rem;
}

.card-title.ContactCard__text, .card-text.ContactCard__text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card-title.ContactCard__text {
	font-size: 1.2em;
	line-height: 1.8;
	font-weight: 700;
	min-height: 1.6em;
	margin-bottom: 0.2em;
}

.card-text.ContactCard__text {
	font-size: 0.8em;
	min-height: 1.6em;
	margin-bottom: 0;
}