
.card.ContactCard__card {
	height: fit-content;

	& .card-title {
		width: 100%;
		display: flex;
	}

	& .ContactCard__name {
		width: 90%;
	}

	& .ContactCard__icons {
		width: 0;
		height: 0;
	}

	&:hover .ContactCard__name {
		width: 70%;
	}

	&:hover .ContactCard__icons {
		width: 30%;
		height: auto;
		margin-top: 0.3em;
	}

	& .ContactCard__icon {
		margin-left: 0.5em;
		width: 1em;
		font-size: 0.8em;
		opacity: 0;
	}

	&:hover .ContactCard__icon {
		opacity: 0.7;
		cursor: pointer;
	}
}

.card-body.ContactCard__card-body {
	font-size: 1em;
	font-weight: 600;
	height: fit-content;
	padding: 0.5rem;
}

.card-title .ContactCard__name, .card-text.ContactCard__text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card-title.ContactCard__text {
	font-size: 1.2em;
	line-height: 1.8;
	font-weight: 700;
	min-height: 1.6em;
	margin-bottom: 0.2em;
}

.card-text.ContactCard__text {
	font-size: 0.8em;
	min-height: 1.6em;
	margin-bottom: 0;
}