.modal-dialog.ContactModal__root .modal-content {
	margin: auto;
}

.ContactModal__header {
	background-color: #f7f7f7;
	font-weight: 700;

	& .modal-title {
		font-size: 1.2em;
	}
}

.ContactModal__text {
	font-size: 0.8em;
}

.ContactModal__name {
	font-weight: 700;
}